%form{:action => '/server/decide', :method => 'post'}
  -params.each do |name, value|
    %input{:name => name, :value => value, :type => 'hidden'}
  %p
    Do you want to trust this site?

  %p
    Site:
    &= @openid_request.trust_root

  %p
    Identity:
    &= @openid_request.identity

  -if @sreg_request
    %p
      The site has also requested the following information:
      %ul
        %li
          %b Required fields
        %ul
          -@sreg_request.required.each do |field_name|
            %li
              - field_id = "openid.#{field_name}"
              %label{:for => field_id}&= field_name
              %input{:type => :text, :id => field_id, :name => field_id, :value => @default_sreg_values[field_name]}
        %li
          %b Optional fields
        %ul
          -@sreg_request.optional.each do |field_name|
            %li
              - field_id = "openid.#{field_name}"
              %label{:for => field_id}&= field_name
              %input{:type => :text, :id => field_id, :name => field_id}
      If you do not want to release this information, choose 'revoke'.

  %input{:type => 'submit', :name => 'decision', :value => 'trust'}
  %input{:type => 'submit', :name => 'decision', :value => 'revoke' }
